.custom-img {
    height: 100vh;
    object-fit: cover;
}
@media (max-width: 768px){
    .custom-img {
        height: 80vh;
        object-fit: cover;
    }
}
.carousel-indicators{
    bottom: 50px;
}